.languages {
  padding: 50px 0 75px;
}

.languages__level {
  margin: 0;
  padding-top: 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: 3.1;
}

.languages__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 3.1;
}
